
  <br><br>
    <br><br>
      <br><br>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<% if session[:usuario] %>

    Logado como <%= session[:usuario] %>
    <br>
<a class="btn btn-danger" href="/logout">logout</a>
<% end %>
      
<h2>Alunos</h2>



<% @alunos.each do |a| %>

    <%= link_to a.nome, aluno_path(a) %>

   

    <%= link_to "Editar", edit_aluno_path(a) %>

     <a href="alunos/deletar/<%=a.id %>">Excluir </a>

    <br><br>

<% end %>
<%= link_to "cadastre-se", new_aluno_path %>