  <br><br>
    <br><br>
      <br><br>
<h2>Editar Vaga</h2>




<%= form_for @vaga do |v| %>

    <%= v.label 'Descricao' %>

    <%= v.text_field :descricao %>
      <br>
     


  <%= v.label 'Curso' %>
      <select id="curso" name="curso">

      <% @cursos.each do |b| %>
            
        <%= options_for_select([b.nome]) %>

      <% end %>
      </select>

     <br>

    <%= v.label 'Vagas' %>

    <%= v.number_field :numero, min: 1%>
      <br>
   
  
    <%= v.submit 'Salvar' %>

<% end %>