  <br><br>
    <br><br>
      <br><br>
<h2>Cadastrar Vaga</h2>




<%= form_for @vaga do |v| %>

    <%= v.label 'Descricao' %>

    <%= v.text_area :descricao, size: "24x6" %>
      <br>


    <%= v.label 'Vagas' %>

    <%= v.number_field :numero, min: 1 %>  
  
    <%= v.submit 'Salvar' %>

<% end %>