  <br><br>
    <br><br>
      <br><br>
<% if session[:usuario] %>

    Logado como <%= session[:usuario] %>
    <br>
<a class="btn btn-danger" href="/logout">logout</a>
<% end %>


<h2>Empresa: <%= @empresa.nome %> </h2>
<br>
<h2>Área de Atuação da Empresa: <%= @empresa.area_atuacao %> </h2>
<br>

<h2>Descrição da Vaga: <%= @vaga.descricao %> </h2>
<br>
<h2>Número de Vagas: <%= @vaga.numero %> </h2>
<br>

<a href="/vagas/<%=@vaga.id %>/inscricao">Inscrever-se </a>