  <br><br>
    <br><br>
      <br><br>
<h2>Nova empresa</h2>

<%= form_for @empresa do |a| %>

   
    <%= a.label 'Nome' %>

    <%= a.text_field :nome, maxlength: 30 %>
      <br>

   <%= a.label 'CNPJ' %>

    <%= a.text_field :cnpj, maxlength: 9 %>
      <br>


    <%= a.label 'endereco' %>

    <%= a.text_field :endereco, maxlength: 30 %>
      <br>

     <%= a.label 'cidade' %>

    <%= a.text_field :cidade, maxlength: 30 %>
      <br>

<<<<<<< HEAD
      <%= a.label 'Área de Atuação' %>

    <%= a.text_area  :area_atuacao, size: "24x6" %>
=======
     
      <%= a.label 'area de atuacao' %>

    <%= a.text_area  :area_atuacao, size: "18x6" %>
>>>>>>> 6bff4d1413de3d07796673134a71e1f48aae5aa5
      <br>

     <%= a.label 'Senha' %>

    <%= a.password_field :senha %>
     <br>


    <%= a.submit 'Salvar' %>

<% end %>