  <br><br>
    <br><br>
      <br><br>

<h2>Nome :<%= @empresa.nome %> </h2>
<br>
<h2>cnpj: <%= @empresa.cnpj %> </h2>
<br>
<h2>endereco: <%= @empresa.endereco %> </h2>
<br>
<h2>Cidade: <%= @empresa.cidade %> </h2>
<br>
<h2>Área de Atuação: <%= @empresa.area_atuacao %> </h2>

